/*Message Box CSS*/

.messageWrap
	{
	width:960px;
	margin-left:10px;
	margin-right:10px;
		}


ul.messagebox_menu
	{
	padding:0;
	margin:0;
	list-style:none;
	}


ul.messagebox_menu li
	{
	padding:0;
	margin:0;
	list-style:none;
	float:left;
	margin-right:0px;
	margin-left:10px;
	background:#eaeae9;
	border:1px solid #363636;
	border-bottom:none;
	line-height:30px;
	float:left;
	height:30px;
		}
		
ul.messagebox_menu li a
	{
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	color:#000;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
		}

ul.messagebox_menu li.active
	{
	background:#ffd105;
	border-bottom:none;
			}
			

.messagebox_left_wrap
	{
	float:left;
	width:200px;
	}

.messagebox_left
	{
	float:left;
	width:200px;
	border:1px solid #888888;
	}						

.inbox_div
	{
	clear:both;
	border-top:1px solid #000;
	background-color:#ffd105;
	height:30px;
	width:100%;
	line-height:10px;
	}

.first
	{
	border-top:none;
	}

.inbox_head 
	{
	font-size:16px;
	font-weight:bold;
	display:block;
	margin:10px;
	}
	
.inbox_div a.lnk
		{
	font-size:16px;
	font-weight:bold;
	text-decoration:none;
	color:#000;
		}

ul.inbox_menu
	{
	padding:0;
	margin:0;
	list-style:none;
	}


ul.inbox_menu li
	{
	padding:0;
	margin:0;
	list-style:none;
	background:#006dce;
	border-top:1px solid #fff;
	line-height:30px;
	float:left;
	height:30px;
	display:inline;
	width:100%;
			}
		
ul.inbox_menu li a
	{
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
		}

ul.inbox_menu li.active
	{
	background:#ffd105;
	border:1px solid #363636;
			}

.messagebox_right
	{
	float:right;
	width:720px;
	}
	
	
	.inbox_all_messages
	
		{
	font-size:20px;
	padding-bottom:5px;
	color:#ff5400;
	border-bottom:1px solid #e7e9ea;
		}

.lnkComm12pb
	{
	text-decoration:none;
	color:#000;
	font-size:12px;
	font-weight:bold;
	}
	
.divScroll
	{
	overflow:scroll;
	}				

.mailBoxDiv table
	{
	 border-collapse:collapse;
	 border-spacing:0;
	}

.mailBox
	{
	border:1px solid #000;
	width:100%;
	height:120px;
	}
	
.mailBoxDiv table tr.topRpw
		{
	 background:#303030;
	 height:45px;
		}
		
.mailBoxDiv table tr.topRpw td
	{
	vertical-align:middle;
	padding-left:10px;
	}
	
.mailBoxDiv table.mailRow
	{
	 border-collapse:collapse;
	 border-spacing:0;
	 width:100%;
	 	}

.txt10pN_w
	{
	font-size:10px;
	color:#fff;
	}		
	
.mailBoxDiv table.mailRow tr.rowEve
	{
	background-color:#CCCCCC;
	height:30px;
	border-bottom:1px solid #000;
	
	}	
	
.mailBoxDiv table.mailRow tr.rowOdd
	{
	background-color:#f6f6f6;
	height:30px;
	border-bottom:1px solid #000;
	
	}		
	
.mailBoxDiv table.mailRow td
	{
	vertical-align:middle;
	font-size:11px;
	color:#000;
		}					
		
.replyRow
	{
	 background:#ffc002;
	 height:30px;
	 margin-top:10px;
	}	
	
.replyRow p
	{
	margin-left:8px;
	color:#000;
	line-height:30px;
	font-size:11px;
	font-weight:bold;
	}		
	
.mailBody	
{
float:left;
margin-left:5px;
width:695px;
font-size:11px;
color:#000;
line-height:18px;
}

.RowMail_borBot
	{
	border-bottom:1px solid #363636;
	}

/*Message Box CSS*/

/* my account sections*/

.myAccountheader
	{
	background:#1ea7f5;
	height:20px;
	text-align:center;
	line-height:20px;
	padding:10px;
	}
	
.myAccountheader p
	{
	font-size:16px;
	font-weight:bold;
	color:#fff;
	}
	
.roundBox_black
	{
float:left;
background: #000 !important;
width:705px;
margin-top:10px;
color:#FFFFFF;
	}
	

.roundBox_white
	{
margin:0 auto;
background: #fff !important;
width:610px;
margin-top:10px;
margin-bottom:20px;
color:#000;
	}	
	
.roundBox_white p
	{
	font-size:11px !important;
	color:#000 !important;
	padding:5px;
	}	
	
.roundBox_black h1
	{
	font-size:16px;
	padding:10px;
	}	
	
.roundBox_black p
	{
	color:#fff;
	font-size:12px;
	padding:5px 5px 10px 10px;
	}
	

.roundBox_grey
	{
float:left;
background: #e1e0e0 !important;
width:705px;
margin-top:10px;
border:1px solid #7f7f7f;
	}
	
.roundBox_Orange
	{
float:left;
background: #f65108 !important;
width:705px;
margin-top:10px;
border:1px solid #ca4003;
	}
	
.roundBox_Orange h1
	{
	font-size:16px;
	color:#fff;
	padding:4px;

	}	
			
.roundBox_grey_one
	{
float:left;
background: #cacaca !important;
width:705px;
margin-top:10px;
border:1px solid #7f7f7f;
	}
	
.roundBox_grey_one h2
	{
	font-size:16px;
	padding:4px;
	}		
	
.comm_table			
	{
	border-collapse:collapse;
	border-spacing:normal;
	font-size:11px;
	font-weight:normal;
	}
	
	.comm_table	td.vert
		{
		vertical-align:middle;
		}
		
.comm_table	td.top
		{
		vertical-align:top;
		}	
		

.comm_table	td.bot
		{
		vertical-align:bottom;
		}
		
.comm_table	.inp
	{
	background:#c5c3c3;
	height:22px;
	border:none;
	outline:none;
	font-size:11px;
	}
	
	.inp_A
	{
	background:#e5e5e5;
	height:22px;
	border:none;
	outline:none;
	font-size:11px;
	padding-left:5px;
	}
	
.btn_update_account
	{
	 background:url(../images/btn_update_account.png) 0 0 no-repeat;
	 height:30px;
	 width:116px;
	 cursor:pointer;
	 display:block;
	 border:none;
	}
	
.btn_unsubscribe
	{
	 background:url(../images/btn_unsubscribe.png) 0 0 no-repeat;
	 height:30px;
	 width:95px;
	 cursor:pointer;
	 display:block;
	 border:none;
	 margin-left:20px;
	}
	
.btn_logout
	{
	 background:url(../images/btn_logOut.png) 0 0 no-repeat;
	 height:30px;
	 width:66px;
	 cursor:pointer;
	 display:block;
	 border:none;
	 margin-left:20px;
	}	
		
	
.lnk
	{
	font-size:11px;
	text-decoration:none;
	color:#000;
	}	
	

.flt_lft .bee
	{
	font-size:22px;
	color:#fff;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:20px;
	margin-left:270px;
	}	

.recent_feedback
	{
	margin-top:10px;
	}

.recent_feedback h2
	{
	font-size:18px;
	color:#000;
	font-weight:bold;
	}

.recent_feedback table	
	{
	border-collapse:collapse;
	border-spacing:normal;
	font-size:11px;
	font-weight:normal;
	width:100%;
	}
	
	.recent_feedback table tr.recent_topRow
		{
		background:#03b6f8;
		height:24px;
		color:#000;
		font-size:11px;
		font-weight:bold;
			}
			
.recent_feedback table tr
	{
	border-bottom:1px solid #000;
	}
	
.recent_feedback table td
	{
	font-size:11px;
	color:#000;
	padding:10px;
	}	
				
			
.recent_feedback table tr.recent_topRow td
	{
	padding:10px;
	}			
	
	.recent_feedback table td.vert
		{
		vertical-align:middle;
		}
		
.recent_feedback table	td.top
		{
		vertical-align:top;
		}	
		

.recent_feedback table	td.bot
		{
		vertical-align:bottom;
		}							