@charset "utf-8";
/* CSS Document */

body
{
padding:0;
margin:0;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#000;
background:#fff url(../images/body_bg.gif) 0 0 repeat-x;
}

 div,span,p,form,h1,h2,h3,h4,h5,h6,fieldset,input,select 
	{
padding:0px;
margin:0px;
	}

input, textarea
	{
	outline:none;
	}	
	
.cls
	{	
clear:both;
	}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;

     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.wrapper_center
	{
	margin:0 auto;
	width:980px;
	}

.flt_right
	{
	float:right;
	}
	
	.flt_lft
	{
	float:left;
	}

.centerDiv
	{
margin:0 auto;
	}
	
	
.Row
{
float:left;
width:100%;
}

.Row95
	{
float:left;
width:95%;
margin-left:10px;
	}
	
.Row98
	{
float:left;
width:98%;
margin-left:10px;
	}	

.topRow
	{
	float:right;
	width:450px;
	height:20px;
	}

.topRow h2
		{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#fff;
	text-decoration:none;
	margin-top:5px;
			}	

	.topRow .joinNow
		{
		font-family:Arial, Helvetica, sans-serif;
		font-size:28px;
		color:#fff600;
		text-decoration:underline;
		font-weight:bold;
		margin-top:1px;
		margin-left:10px;
		}
		
/*User name*/

.usrName
	{
	margin-top:10px;
	color:#fff;
	margin-left:10px;
	text-decoration:none;
	}
	

ul.topRight
	{
	padding:0;
	margin:0;
	list-style-type:none;
	margin-top:15px;
		}

ul.topRight li
	{
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;
	margin-right:20px;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	}				

ul.topRight li.cart
	{
	 background-color:#FF9900;
	 margin:10px;
	 color:#fff;
	 margin-top:0px;
	 padding:5px;
	 margin-right:5px;
	 	}		


		
.logoWrapper
	{
	float:left;
	padding-top:40px;
	}
	
.menuWrapper
	{
	float:left;
	width:500px;
	margin-top:20px;
	}
	

ul.menu {
	float: left;
	padding: 0px 0px;
	margin:0px 0px 0px 10px;
	}

ul.menu li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
	float:left; 
	margin-left:4px;
}


ul.menu li a.highlight {
	float: left;
	color: #000000;
	text-decoration: none;
	background: url('../images/menu_L_act.png') top left no-repeat;
	padding: 0px 0px 0px 14px;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
	height:35px;
	line-height:35px;

}


ul.menu li a.highlight span {
	background: url('../images/menu_R1_act.png') top right no-repeat;
	padding: 0px 25px 0px 15px;
	display:inline-block;
	height:35px;
}


ul.menu li a {
	float: left;
	color: #000000;
	text-decoration: none;
	background: url('../images/menu_L_dis.png') top left no-repeat;
	padding: 0px 0px 0px 14px;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
	height:35px;
	line-height:35px;

}


ul.menu li a span {
	background: url('../images/menu_R_dis.png') top right no-repeat;
	padding: 0px 14px 0px 0px;
	display:inline-block;
	height:35px;
}

ul.menu li a:hover
	{
	color:#FF6600;
	}
	
/*user Login*/

.userLogInwrapper
	{
	float:right;
	width:355px;
	margin-top:20px;
	margin-right:20px;
	}


.userLogInwrapper .userInpDiv
	{
	background:url(../images/uesr_inp_bg.png) 0 0 no-repeat; 
	width:137px; 
	height:28px; 
	float:left;
	margin-right:10px;
	}

.userLogInwrapper .inp
	{
border:none;
display:inline-block;
height:18px;
width:120px;
margin-left:8px;
margin-top:6px;
background:#f8f8f8 url(../images/inp_bg.png)  0 0 repeat-x;
font-size:13px;
font-weight:normal;
outline:none;
	}
	
.btn_go	
	{
	background:url(../images/btn_go.png) 0 0 no-repeat;
	width:57px;
	height:28px;
	cursor:pointer;
	border:none;
	margin-right:0px;
	}

/*Search  Arae*/	

.search_bg
	{
	background:url(../images/search_bg.png) 0 0 repeat-x;
	float:left;
	clear:both;
	height:60px;
		}


		
.searchWrap		
{ 
float:left;
margin-left:10px;
margin-top:10px;
}

.searchInpWrap
	{
	background:url(../images/search_inp.png) 0 0 no-repeat;
	width:886px;
	height:38px;
	float:left;
	margin-right:20px;
	}

.searchInp
{
border:0;
height:30px;
width:865px;
margin-left:8px;
margin-top:6px;
background:#f8f8f8 url(../images/search_inp_bg.png)  0 0 repeat-x;
font-size:13px;
font-weight:bold;
outline:none;
}

.btn_search
		{
	background:url(../images/btn_search.png) 0 0 no-repeat;
	width:47px;
	height:38px;
	cursor:pointer;
	border:none;
	float:right;
			}

.sliderWrap
{
float:left;
background:url(../images/sliderbg.jpg) 0 0 no-repeat;
width:980px;
height:332px;
}			


.liveAunctionWrap
	{
	margin-top:20px;
	}			
	
.liveAunctionWrap .top
{
background:url(../images/live_auction_bg.jpg) 0 0 no-repeat;
height:46px;
}

.liveAunctionWrap .top h2
	{
	font-size:18px;
	font-weight:bold;
	line-height:46px;
	margin-left:10px;
	}
	
.shortby
{
float:right;
margin-top:10px;
margin-right:10px;
}

.filter
	{
	float:right;
	margin-top:10px;
	margin-right:40px;
	}
	
	
	
	
.bid_now , .borderbox{ background:#FFFFFF; border-bottom:none; border-left:solid 1px #dcdcdc; border-right:solid 1px #dcdcdc; width:978px;}	


.borderbox_mid{border:solid 1px #dcdcdc;}

.pegination{ height:35px; margin-left:18px; margin-top:10px;}

.list{ margin-left:0px; clear:both;}



	
#main-product{ clear:both;  background:#FFFFFF; }

#main-product li{border: 0px solid #000000;
    float: left;
    height: 391px;
    list-style: none outside none;
    margin-right: 21px;
    width: 172px;}
#main-product li div{/*background:#b1d83e;*/   padding-top: 0px;}

#main-product li div .clip{ background:url(images/clip.png) no-repeat top left; width:35px; height:35px; position:absolute; padding:0px;margin: -41px 0 0 206px;}
#main-product li div .more{   background: url("images/more_bttn.png") no-repeat scroll left top transparent;display: block;height: 16px;padding: 8px 25px;width: 63px; color:#e1bba5; text-decoration:none; position:absolute; margin:7px 0 0 138px; font-size:11px;}
#main-product li div .more:hover{color:#FFF;}
#main-product li div h2{     font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#000000; text-align:center;}
#main-product li div h2 a{     font-family: 'CenturyGothic';font-size:21px; color:#445907; text-shadow: 0px 1px 0px #b2d93d; background:url(images/heading_bttmline.png) repeat-x bottom left; padding-bottom:5px; margin-bottom:10px;}
#main-product li div h2 a:hover{     font-family: 'CenturyGothic';font-size:21px; color:#445907; text-shadow: 0px 1px 0px #b2d93d; background:url(images/heading_bttmline.png) repeat-x bottom left; padding-bottom:5px; margin-bottom:10px;}



#main-product li div span{ display:block;border:0px solid #d2e88f; /*width:214px; height:71px;margin-bottom: 7px;*/}
/*#main-product li div p{     font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; text-align:justify; margin:15px; line-height:19px;}*/



 .auctions{ background:url(../images/auction_bg.png) no-repeat; width:181px; height:45px;}
  .auctions h3{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000000; margin-left:37px;
    padding-top: 6px;
    text-align: justify; line-height:19px;}
	 .auctions p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; margin-left:0px;
    padding-top: 0px;
    text-align:center; line-height:19px;}
	.auctions h4{  color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;}
	
	.auctions h5{  color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;}
	
	.price{ background:url(../images/auction_price_bg.png) no-repeat; width:184px; height:65px;}
	 

#clickFilter, #clickSort
	{
	cursor:pointer;
	}

#sort	 

{
position:absolute;
z-index:10px;
margin-top:1px;
width:250px;
height:135px;
background:#efefef;
border:1px solid #d3d2d2;
right:150px;
border-radius: 10px; 
-moz-border-radius:10px;
-webkit-border-radius:10px;
box-shadow: 2px 5px 10px #000000;
behavior: url(PIE.htc);
}	 
	 

#filter
{
position:absolute;
z-index:10px;
margin-top:1px;
width:400px;
height:235px;
background:#efefef;
border:1px solid #d3d2d2;
right:45px;
border-radius: 10px; 
-moz-border-radius:10px;
-webkit-border-radius:10px;
box-shadow: 2px 5px 10px #000000;
behavior: url(PIE.htc);
}

.SortDiv table, .filterDiv table
	{
	font-size:12px;
	color:#000;
	text-decoration:none;
	font-weight:normal;
	border-collapse:collapse;
	}	 
	 
	.SortDiv table td, .filterDiv table td
		{
		text-align:left;
		/*vertical-align:middle;*/
		} 
		
		.SortDiv table td.right, .filterDiv table td.right
		{
		text-align:right;
		/*vertical-align:middle;*/
		} 
		
		.SortDiv table td.bold, .filterDiv table td.bold
			{
			font-variant:normal;
			font-weight:bold;
			}
			
	 
	/*--Footer start*/

#footer{ background: url("../images/footer.png") #252525 repeat-x scroll left top; /*margin-left: -20px; padding:36px 76px 0;text-align: center;width: 885px; margin:-24px auto;*/}

#sitemap{ clear:both;}

#sitemap li{ background: url("../images/divider.png") no-repeat scroll right top transparent;float: left;height:123px;margin-right: 16px;width: 198px; list-style:none;}

#sitemap li dt{ font-family:Tahoma, sans-serif; font-size:18px; color:#c0bfbf; clear:both; text-align:left;margin-bottom: 6px;}

#sitemap li dd{ display: block;font-family:Tahoma, sans-serif; font-size:12px; color:#c0bfbf; clear:both; text-align:left;margin-bottom:6px;}

#sitemap li dd a{font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#c0bfbf; text-decoration:none; clear:both;  margin-left: -37px; }

#sitemap li dd a:hover{ color:#fab605; text-decoration:none;}



#footer p{ clear: both;color: #c0bfbf;font-family: Arial,sans-serif;font-size: 13px;padding: 9px 0 0; text-align:center; padding-bottom:10px;}

/*--Footer end*/ 


/*Registration starts */

.regiLeft
	{
	width:320px;
	margin:10px 0px 10px 10px;
	
		}
	
.regiLeftUserPicsBox 
	{
	border:1px solid #d9d9d9;
	}	


.regiLeftUserPicsBox p
	{
	padding:10px;
	text-align:center;
	}

.commFrom_box	
	{
	float:left;
	width:595px;
	border:1px solid #d9d9d9;
	margin:10px 0px 10px 26px;
	}
	
	.commFrom_box table
	{
border-collapse:collapse;
font-size:12px;
font-variant:normal;
font-weight:normal;
	}

.commFrom_box table tr.TopRow
	{
	background:#0d0d0d;
	height:25px;
	font-size:13px;
	font-weight:bold;
	color:#fff;
		}


.commFrom_box table td
	{
text-align:right;
vertical-align:middle;
 	}
	
.commFrom_box table td.left
	{
text-align:left;
vertical-align:middle;
 	}
	
	
.commFrom_box table td.center
	{
text-align:center;
vertical-align:middle;
 	}	
	
.commFrom_box .frm_inp	
	{
	background-color:#f4f3f3;
	border:1px solid #c6c6c6;
	height:22px;
	width:410px;
	outline:none;
	
	}
	
.req
	{
	font-size:12px;
	color:#FF0000;
	}

.btn_submit
	{
	background:url(../images/btn_submit.png) 0 0 no-repeat;
	width:67px;
	height:22px;
	border:none;
	cursor:pointer;
	display:block;
	}	
	
.btn_reset
	{
	background:url(../images/btn_reset.png) 0 0 no-repeat;
	width:67px;
	height:22px;
	border:none;
	cursor:pointer;
	display:block;
	}		
		
/*Registration ends*/

/*itemPage*/
.itemLft
{
width:400px;
margin-left:10px;
}

.itemRight
	{
	width:530px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	}

.commBorderBox
{
border:1px solid #d9d9d9;
}


.marTop5
	{
	margin-top:5px;
	}

.marTop10
	{
	margin-top:10px;
	}

.marTop20
	{
	margin-top:20px;
	}
	
.padTop20
	{
	padding-top:20px;
	}		
	
.marLft10
	{
	margin-left:10px;
	}	
	

.marRlt10
	{
	margin-right:10px;
	}		

.marBot10
	{
	margin-top:10px;
	}
	
.marBot20
	{
	margin-bottom:20px;
	}	
	
	
.marBot40
		{
	margin-bottom:40px;
		}
		
.marBot8
		{
	margin-bottom:8px;
		}					
	
.mar10
	{
	margin-top:8px;
	margin-left:10px; 
	margin-right:10px;
	margin-bottom:8px !important;
		}
	
	.pad10
	{
	padding:10px;
		}
	
.marTop5
	{
	margin-top:5px;
	}	

.mar20
	{
	margin:20px;
	}
	
.auctionTitle_b
	{
	font-size:26px;
	font-weight:bold;
	text-decoration:none;
	margin-left:20px;
	margin-top:10px;
	color:#000;
	}
	
.tags, .watchList
	{
	margin-left:20px;
	margin-top:10px;
	}
	
.txt13B
	{
	font-size:13px;
	font-weight:bold;
	}
	

.txt12B
	{
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#000;
	}	

.lnk12NU
	{
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;
	color:#000000;
	}

.auctionList
	{
	border-right:1px solid #d9d9d9;
	width:264px;
	}
	
.biddingHistory
	{
	width:264px;
	}

.txt11pN
	{
	font-size:11px;
	font-weight:normal;
	color:#000;
	text-decoration:none;
	}

.txt12pN
	{
	font-size:12px;
	font-weight:normal;
	color:#000;
	text-decoration:none;
	}
	
	.txt11pB
		{
	font-size:11px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
		}
	
.txt13pB
	{
	font-size:13px;
	font-weight:bold;
	}		

.txt13pB_or
	{
	font-size:13px;
	font-weight:bold;
	color:#ff6600;
	}

.txt11pB_or
	{
	font-size:11px;
	font-weight:bold;
	color:#ff6600;
	text-decoration:none;
	}	

	.txt16pB
	{
	font-size:16px;
	font-weight:bold;
	color:#000;
	}
	
.txtalignCenter
	{
	text-align:center;
	}
	
.txtalignLft
	{
	text-align:left;
	}
	
.txtalignRight
	{
	text-align:right;
	}			
	
.green28B
	{
	font-size:28px;
	color:#4abb38;
	font-weight:bold;
	}
	
.red22B
	{
	font-size:22px;
	color:#ff0000;
	font-weight:bold;
	}
	
.tableAuctionPrice
	{
	width:240px;
	margin-top:20px;
	margin-left:10px;
	margin-bottom:10px;
	}
					
.tableAuctionPrice table
	{
	border-collapse:collapse;
	}
	

.tableAuctionPrice table tr.div
	{
	border-bottom:1px solid #666;
	}


.tableAuctionPrice table td
	{
	vertical-align:middle;
	text-align:left;
	padding-top:6px;
	}

.tableAuctionPrice table td.right
	{
	text-align:right;
	}
	
	.tableAuctionPrice table td.center
	{
	text-align:center;
	}
	
/*Bidding History*/					
.bidHistoryHeader
		{
		width:100%;
	background:#033e73;
	text-align:center;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	height:35px;
	line-height:35px;
			}
			
.biddingHistoryDetails table
	{
	border-collapse:collapse;
	}
	
	.biddingHistoryDetails table td
		{
		padding-top:5px;
		padding-bottom:5px;
		}
		
.biddingHistoryDetails table tr
		{
	border-bottom:1px solid #666;
		}		
		
.biddingHistoryDetails table tr.odd
		{
		background:#e1e3e4;
		}
		

.comm_inp
	{
	background:#eeeeee;
	border:1px solid #b5b5b5;
	}

.comm_sel
	{
	background:#eeeeee;
	border:1px solid #b5b5b5;
	}

.comm_txtArea			
	{
	background:#eeeeee;
	border:1px solid #b5b5b5;
	}
	
.support_notes	
	{
	font-size:18px;
	padding-bottom:10px;
	margin-right:20px;
	color:#ff5400;
	border-bottom:1px solid #e7e9ea;
	}
	
.Row_borBot
	{
	width:95%;
	padding-bottom:10px;
	border-bottom:1px solid #e7e9ea;
	}	

.grey_txt
	{
	color:#757575;
	}
	
.caseNo
	{
	color:#07356a;
	}
	
.caseStatus
	{
	color:#FF0000;
	}

.caseRow
	{
	width:940px;
	border:1px solid #7e7e7e;
	margin-left:10px;
	background:#e3e3e3;
	}

.comm_table
	{
	border-collapse:collapse;
	border-spacing:0px;
	width:98%;
	margin:8px 0px 8px 8px;
}
	
.comm_table td
	{
	vertical-align:top;
	}
	
.comm_table td.mid
	{
	vertical-align:middle;
	}	

ul.case_Details_plus
		{
	padding:0;
	margin:0;
	list-style-type:none;
	margin-top:10px;
		}
		
ul.case_Details_plus li
		{
	padding:0;
	margin:0;
	list-style-type:none;
	float:left;
	/*background:url(../images/icon_plus.png) 0 0 no-repeat;*/
	margin-right:10px;
		}

ul.case_Details_plus li span
	{
	font-size:11px;
	padding-left:5px;
	line-height:12px;
	}
	
ul.case_Details_plus li.case_stat
	{
	background:#666666;
	font-size:11px;
	font-weight:bold;
	height:22px;
	line-height:22px;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	color:#fff;
	margin-right:0px;
	}

.greyRow
	{
	height:30px;
	 background:#CCCCCC;
	 border-top:1px solid #999999;
 	 border-bottom:1px solid #999999;
	 width:980px;
	 clear:both;
	 padding-top:10px;
	 	}


.greyRow_full
	{
	background:#CCCCCC;
	border:1px solid #999999;
	width:100%;
	}

.div750Center
	{
	margin: 0 auto;
	width:750px;
		}

.div850Center
	{
	margin: 0 auto;
	width:850px;
		}
		
.ratingsBox
	{
float:left;
background:#efefef !important;
border:1px solid #999999;
padding:10px;
	}
	
.txt38pb_y
	{
	color:#ffcc66;
	font-size:38px;
	font-weight:bold;
	text-align:left;
	}
	
.txt22pb_w
	{
	color:#fff;
	font-size:22px;
	font-weight:bold;
	text-align:left;
	}

/* FAQ ANSWER CEMTER*/	

.faq_wrap
	{
	}

.faq_wrap h2
	{
	text-align:center;
	font-size:22px;
	font-weight:bold;
	}

.faq_left
	{
	float:left;
	width:670px;
	margin-right:10px;
	}

.faq_Right
	{
	float:left;
	width:275px;
		}		
	

.faq_Right_inner
	{
	width:275px;
	background:#e5e5e5 url(../images/grd2.png) 0 0 repeat-x;
	border:1px solid #bebebe;
	}	
	
.faq_Right h2
	{
	font-size:18px;
	font-weight:bold;
	margin-top:10PX;
	}	
	
.faq_info_box
{
width:640px;
background:#0985e5;
color:#fff;
font-size:12px;
font-weight:bold;
padding:10px;
margin-top:10px;
}	

.faq_result_box
{
width:640px;
background:#000;
font-size:18px;
font-weight:bold;
padding:10px;
margin-top:20px;
text-align:center;
color:#fff;
}	


.faq_result_box_yellow
{
width:640px;
background:#f9b406;
font-size:18px;
font-weight:bold;
padding:10px;
margin-top:20px;
text-align:center;
color:#000;
}	


.comm_black_box_A
	{
	background:#000;
	}

.comm_black_box
	{
background:#000;
font-size:18px;
font-weight:bold;
padding:10px;
margin-top:10px;
text-align:center;
}	



.yellow_txt
	{
	color:#f9b406;
	}

.faqsearchInpWrap
	{
	background:url(../images/faq_inp_bg.png) 0 0 no-repeat;
	width:560px;
	height:40px;
	float:left;
	margin-right:20px;
	}

.faqsearchInp
{
border:0;
height:30px;
width:550px;
margin-left:8px;
margin-top:6px;
background:#f8f8f8 url(../images/search_inp_bg.png)  0 0 repeat-x;
font-size:13px;
font-weight:bold;
outline:none;
}


.btn_faq_search
		{
	background:url(../images/btn_faq_search.png) 0 0 no-repeat;
	width:47px;
	height:38px;
	cursor:pointer;
	border:none;
	float:right;
			}
/* FAQ ANSWER CEMTER*/	

ul.pagination {
	float: left;
	padding:0;
	margin-left:10px;
    margin-top:10px;
		}

ul.pagination li {
float:left;
list-style: none;
margin: 0px;
padding: 0px;
margin-left:10px;
}

ul.pagination li.next_prev 
	{
background:#089cf0;
text-align:center;
font-size:12px;
padding-left:8px;
padding-right:8px;
	}

ul.pagination li.next_prev a:hover
	{
	color:#fff;
	}




ul.pagination li a {
	float: left;
	color: #000000;
	text-decoration: none;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	line-height:25px;

}

ul.pagination li a.active_page 
	{
	color:#fff;
	background:#FF9900;
	padding-left:8px;
	padding-right:8px;
	}

ul.pagination li a.active_page:hover
	{
	color:#000;
	} 

ul.pagination li a:hover
	{
	color:#FF6600;
	}
	

.faq26w
	{
	font-size:26px;
	color:#fff;
	margin-bottom:10px;
	}

.num
	{
	width:20px;
	}
	
.w600
	{
	width:600px;
	}
	

.w658
	{
	width:658px;
	}

.w800
	{
	width:800px;
	}
			
	
.faq_comments_wrap
	{
	border:1px solid #CCCCCC;
	padding:10px;
	background:#ececec;
	}
	

.btn_submit_comm
		{
	background:url(../images/submit_comm.png) 0 0 no-repeat;
	width:145px;
	height:22px;
	cursor:pointer;
	border:none;
	margin-top:10px;
			}
			
.comm_rounded_grey
	{
	background:#ececec;
	border:1px solid #b1b1b1;
	float:left;
	}
	
.noBorder
	{
	border:none !important;
	}	

.btn_create_auction
		{
	background:url(../images/btn_create_auction.png) 0 0 no-repeat;
	width:106px;
	height:22px;
	cursor:pointer;
	border:none;
		}
		
.btn_checkOut
		{
	background:url(../images/btn_checkOut.png) 0 0 no-repeat;
	width:114px;
	height:36px;
	cursor:pointer;
	border:none;
		}		

.btn_cancel
		{
	background:url(../images/btn_cancel.png) 0 0 no-repeat;
	width:114px;
	height:28px;
	cursor:pointer;
	border:none;
	display:block;
		}


.btn_continue
		{
	background:url(../images/btn_continue.png) 0 0 no-repeat;
	width:114px;
	height:28px;
	cursor:pointer;
	border:none;
	display:block;
		}


.btn_send_msg
		{
	background:url(../images/btn_send_msg.png) 0 0 no-repeat;
	width:114px;
	height:28px;
	cursor:pointer;
	border:none;
	display:block;
		}


p.even
	{
	background:#CCCCCC;
	padding-top:8px;
	padding-bottom:8px;
	border-top:1px solid #999999;
	border-bottom:1px solid #999999;
	font-size:11px;
	padding-left:5px;
	}	
	
p.odd
	{
	background:#f0f0f0;
	padding-top:8px;
	padding-bottom:8px;
	border-bottom:1px solid #999999;
	font-size:11px;
	padding-left:5px;
	}
	
.comm_btn
	{
background:#fdbf12 url(../images/btn_grd.png) 0 0 repeat-x;
width:auto;
line-height:20px;
text-align:center;
color:#000;
font-size:12px;
font-weight:bold;
border:1px solid #a9220c;
padding-left:8px;
padding-right:8px;
cursor:pointer;
	}	

/* LISTIMG PAGE*/	

.comm_yellow_box
	{
background:#fecf00;
font-size:18px;
font-weight:bold;
margin-top:10px;
font-family:Arial, Helvetica, sans-serif;
color:#000;
line-height:40px;
padding-left:8px;
height:40px;
}

.listing_block
	{
margin: 0 auto;
width:935px;
	}

.list_black_row
	{
background:#000;
height:35px;
border:1px solid #000;
	}
	
.list_black_row h1.List_header
	{
	font-size:18px;
	color:#fff;
	line-height:35px;
	padding-left:70px;
	}	
	

.numBox_black
	{
width:55px;
height:55px;
background:#000000;
position:absolute;
margin-top:-13px;
margin-left:-3px;
	}	

.numBox_black h1
	{
text-align:center;
font-size:28px;
font-weight:bold;
color:#fff;
line-height:53px;
	}


/**********************************/

.list_orange_row
	{
background:#ff8000;
height:35px;
border:1px solid #000;
	}
	
.list_orange_row h1.List_header
	{
	font-size:18px;
	color:#fff;
	line-height:35px;
	padding-left:70px;
	}	
	

.numBox_orange
	{
width:53px;
height:53px;
background:#ff8000;
position:absolute;
margin-top:-13px;
border:1px solid #000;
margin-left:-3px;
	}	

.numBox_orange h1
	{
text-align:center;
font-size:28px;
font-weight:bold;
color:#fff;
line-height:51px;
	}
	
	/*******************************************/


/***************************************/

.list_yellow_row
	{
background:#ffdd66;
height:35px;
border:1px solid #000;
	}
	
.list_yellow_row h1.List_header
	{
	font-size:18px;
	color:#000;
	line-height:35px;
	padding-left:70px;
	}	
	

.numBox_yellow
	{
width:53px;
height:53px;
background:#ffdd66;
position:absolute;
margin-top:-13px;
border:1px solid #000;
margin-left:-3px;
	}	

.numBox_yellow h1
	{
text-align:center;
font-size:28px;
font-weight:bold;
color:#000;
line-height:51px;
	}


/**/

.list_white_row
	{
background:#fff;
height:35px;
border:1px solid #000;
	}
	
.list_white_row h1.List_header
	{
	font-size:18px;
	color:#000;
	line-height:35px;
	padding-left:70px;
	}	
	

.numBox_white
	{
width:53px;
height:53px;
background:#fff;
position:absolute;
margin-top:-13px;
border:1px solid #000;
margin-left:-3px;
	}	

.numBox_white h1
	{
text-align:center;
font-size:28px;
font-weight:bold;
color:#000;
line-height:51px;
	}

.list_red_row
	{
background:#ff4200;
height:35px;
border:1px solid #000;
	}
	
.list_red_row h1.List_header
	{
	font-size:18px;
	color:#fff;
	line-height:35px;
	padding-left:70px;
	}	
	

.numBox_red
	{
width:53px;
height:53px;
background:#ff4200;
position:absolute;
margin-top:-13px;
border:1px solid #000;
margin-left:-3px;
	}	

.numBox_red h1
	{
text-align:center;
font-size:28px;
font-weight:bold;
color:#fff;
line-height:51px;
	}

/**/

/*******************************************/

.listingPicswrap	
{
width:120px;
background:#FFFFFF;
border:1px solid #000;
padding:10px;
margin-right:20px;
margin-bottom:10px;
}

.listingPicInner
	{
	background:#b3b3b3;
	border:1px solid #000;
	width:110px;
	margin: 0 auto;
	padding-top:10px;
	text-align:center;
	padding-bottom:10px;
	}

.under
		{
    clear:both;
    height:15px;
    font-size:0;/*ie6*/
		}

.btn_add_photo_wrap
	{
	margin-left:13px;
	margin-top:-13px;
	}

.btn_add_photo	
	{
	background:url(../images/btn_add_photo.png) 0 0 no-repeat;
	width:86px;
	height:22px;
	cursor:pointer;
	border:none;
	text-align:center;
	}

.Listing_greyBox
	{
	background:#eeeeee;
	border:1px solid #999999;
	width:100%;
	}
	
.list_inp
	{
	background:#efefef;
	border:1px solid #636363;
	outline:none;
	}

.list_sel
	{
	background:#eeeeee;
	border:1px solid #b5b5b5;
	}

.list_txtArea			
	{
	background:#eeeeee;
	border:1px solid #b5b5b5;
	}
	


.tips_horizontal
	{
	width:800px;
	height:35px;
	border:1px solid #000;
	}

.tips_horizontal p
	{
	padding-top:5px;
	}

.tips_head
	{
	background:#b3b3b3;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	height:35px;
	line-height:35px;
	width:50px;
	border-right:1px solid #000;
	float:left;
			}
			

.tips_vertical
	{
	width:250px;
	border:1px solid #000;
	float:left;
	}

.tips_vertical p
	{
	padding-top:5px;
	}

.tips_vertical_head
	{
	background:#b3b3b3;
	text-align:center;
	font-size:11px;
	font-weight:bold;
	height:25px;
	line-height:25px;
	width:100%;
	border-bottom:1px solid #000;
	float:left;
			}			

						

.open_txt_filed
	{
	border:1px solid #000;
	float:left;
	width:650px;
	}
	

.white_bg
	{
	background:#fff;
	}


.white_bg_a
	{
	background:#fff;
	 border:1px solid #000;
	 padding:10px;
	}	
	
	
	
.open_txt_filed .topRow
	{
	 background:#e6e6e6;
	 line-height:25px;
	 height:25px;
	 text-align:center;
	 color:#000;
	 font-size:12px;
	 width:650px;
	 border-bottom:1px solid #000;
	}
	

.w650		
	{
	 width:650px;
	}
	

.greyBox_inner
	{
	background:#cbcbcb;
	margin: 0 auto;
	border:1px solid #000;
	width:95%;
	margin-top:10px !important;
	padding:10px;
	}
	
.btn_list_auction
	{
	background:url(../images/btn_list_auction.png) 0 0 no-repeat;
	width:114px;
	height:28px;
	border:0;
	cursor:pointer;
	display:block;
	}		