@charset "utf-8";
/* CSS Document */

body
{
padding:0;
margin:0;
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#000;
background:#197575 url(../adminimages/body_bg.gif) 0 0 repeat-x;
}

 div,span,p,form,h1,h2,h3,h4,h5,h6,fieldset,input,select 
	{
padding:0px;
margin:0px;
	}
	
.cls
	{	
clear:both;
	}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;

     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.wrapper_center
	{
	margin:0 auto;
	width:980px;
	}

.flt_right
	{
	float:right;
	}
	
	.flt_lft
	{
	float:left;
	}

.centerDiv
	{
margin:0 auto;
	}
	
	
.Row
{
float:left;
width:100%;
}

.Row95
	{
float:left;
width:95%;
	}
	
.Row98
	{
float:left;
width:98%;
	}	

.topRow
	{
	float:right;
	width:450px;
	height:20px;
	}

.topRow h2
		{ text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#fff;
	text-decoration:none;
	margin-top:5px;
			}	

	.topRow .joinNow
		{
		font-family:Arial, Helvetica, sans-serif;
		font-size:28px;
		color:#fff600;
		text-decoration:underline;
		font-weight:bold;
		margin-top:1px;
		margin-left:10px;
		}
		
/*User name*/

.usrName
	{
	margin-top:10px;
	color:#fff;
	margin-left:10px;
	text-decoration:none;
	}
	



		
.logoWrapper
	{
	float:left;
	padding-top:40px;
	}
	
.menuWrapper
	{
	float:left;
	width:500px;
	margin-top:20px;
	}
	

ul.menu {
	float: left;
	padding: 0px 0px;
	margin:0px 0px 0px 10px;
	}

ul.menu li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
	float:left; 
	margin-left:4px;
}


ul.menu li a.highlight {
	float: left;
	color: #000000;
	text-decoration: none;
	background: url('../images/menu_L_act.png') top left no-repeat;
	padding: 0px 0px 0px 14px;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
	height:35px;
	line-height:35px;

}


ul.menu li a.highlight span {
	background: url('../images/menu_R1_act.png') top right no-repeat;
	padding: 0px 25px 0px 15px;
	display:inline-block;
	height:35px;
}


ul.menu li a {
	float: left;
	color: #000000;
	text-decoration: none;
	background: url('../images/menu_L_dis.png') top left no-repeat;
	padding: 0px 0px 0px 14px;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
	height:35px;
	line-height:35px;

}


ul.menu li a span {
	background: url('../images/menu_R_dis.png') top right no-repeat;
	padding: 0px 14px 0px 0px;
	display:inline-block;
	height:35px;
}

ul.menu li a:hover
	{
	color:#FF6600;
	}
	
/*user Login*/

.userLogInwrapper
	{
	float:right;
	width:355px;
	margin-top:20px;
	margin-right:20px;
	}


.userLogInwrapper .userInpDiv
	{
	background:url(../adminimages/uesr_inp_bg.png) 0 0 no-repeat; 
	width:137px; 
	height:28px; 
	float:left;
	margin-right:10px;
	}

.userLogInwrapper .inp
	{
border:none;
display:inline-block;
height:18px;
width:120px;
margin-left:8px;
margin-top:6px;
background:#f8f8f8 url(../adminimages/inp_bg.png)  0 0 repeat-x;
font-size:13px;
font-weight:normal;
outline:none;
	}
	
.btn_go	
	{
	background:url(../adminimages/btn_go.png) 0 0 no-repeat;
	width:57px;
	height:28px;
	cursor:pointer;
	border:none;
	margin-right:0px;
	}

/*Search  Arae*/	




.liveAunctionWrap
	{
	margin-top:20px;
	}			
	
.liveAunctionWrap .top
{
background:url(../adminimages/live_auction_bg.png) 0 0 no-repeat;
height:46px;
}

.liveAunctionWrap .top h2
	{
	font-size:18px;
	font-weight:bold;
	line-height:46px;
	margin-left:10px;
	}
	
.shortby
{
float:right;
margin-top:10px;
margin-right:10px;
}


.shortby h3
{ font-family:Arial, Helvetica, sans-serif;
float:right;
margin-top:5px;
margin-right:10px;
font-size:12px;
font-weight:bold;
color:#000000;
}

.shortby h3 a
{ font-family:Arial, Helvetica, sans-serif;
float:right;
margin-top:5px;
margin-right:10px;
font-size:12px;
font-weight:bold;
text-decoration:none;
color:#000000;
}


.shortby h3 a:hover
{ font-family:Arial, Helvetica, sans-serif;
float:right;
margin-top:5px;
margin-right:10px;
font-size:12px;
font-weight:bold;
text-decoration:underline;
color:#000000;
}

.filter
	{
	float:right;
	margin-top:10px;
	margin-right:40px;
	}
	
	
	
	
.bid_now , .borderbox{ background:#FFFFFF; border-bottom:none; border-left:solid 1px #dcdcdc; border-right:solid 1px #dcdcdc; width:978px;}	


.pegination{ height:35px; margin-left:18px; margin-top:10px;}

.list{ margin-left:0px; clear:both;}



	
#main-product{ clear:both;  background:#FFFFFF; }

#main-product li{border: 0px solid #000000;
    float: left;
    height: 391px;
    list-style: none outside none;
    margin-right: 21px;
    width: 172px;}
#main-product li div{/*background:#b1d83e;*/   padding-top: 0px;}

#main-product li div .clip{ background:url(images/clip.png) no-repeat top left; width:35px; height:35px; position:absolute; padding:0px;margin: -41px 0 0 206px;}
#main-product li div .more{   background: url("images/more_bttn.png") no-repeat scroll left top transparent;display: block;height: 16px;padding: 8px 25px;width: 63px; color:#e1bba5; text-decoration:none; position:absolute; margin:7px 0 0 138px; font-size:11px;}
#main-product li div .more:hover{color:#FFF;}
#main-product li div h2{     font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#000000; text-align:center;}
#main-product li div h2 a{     font-family: 'CenturyGothic';font-size:21px; color:#445907; text-shadow: 0px 1px 0px #b2d93d; background:url(images/heading_bttmline.png) repeat-x bottom left; padding-bottom:5px; margin-bottom:10px;}
#main-product li div h2 a:hover{     font-family: 'CenturyGothic';font-size:21px; color:#445907; text-shadow: 0px 1px 0px #b2d93d; background:url(images/heading_bttmline.png) repeat-x bottom left; padding-bottom:5px; margin-bottom:10px;}



#main-product li div span{ display:block;border:0px solid #d2e88f; /*width:214px; height:71px;margin-bottom: 7px;*/}
/*#main-product li div p{     font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; text-align:justify; margin:15px; line-height:19px;}*/



 .auctions{ background:url(../adminimages/auction_bg.png) no-repeat; width:181px; height:45px;}
  .auctions h3{ font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000000; margin-left:37px;
    padding-top: 6px;
    text-align: justify; line-height:19px;}
	 .auctions p{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; margin-left:0px;
    padding-top: 0px;
    text-align:center; line-height:19px;}
	.auctions h4{  color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;}
	
	.auctions h5{  color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;}
	
	.price{ background:url(../adminimages/auction_price_bg.png) no-repeat; width:184px; height:65px;}
	 


			
	 
	/*--Footer start*/

#footer{ background: url("../images/footer.png") #252525 repeat-x scroll left top; /*margin-left: -20px; padding:36px 76px 0;text-align: center;width: 885px; margin:-24px auto;*/}

#sitemap{ clear:both;}

#sitemap li{ background: url("../images/divider.png") no-repeat scroll right top transparent;float: left;height:123px;margin-right: 16px;width: 198px; list-style:none;}

#sitemap li dt{ font-family:Tahoma, sans-serif; font-size:18px; color:#c0bfbf; clear:both; text-align:left;margin-bottom: 6px;}

#sitemap li dd{ display: block;font-family:Tahoma, sans-serif; font-size:12px; color:#c0bfbf; clear:both; text-align:left;margin-bottom:6px;}

#sitemap li dd a{font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#c0bfbf; text-decoration:none; clear:both;  margin-left: -37px; }

#sitemap li dd a:hover{ color:#fab605; text-decoration:none;}



#footer p{ clear: both;color: #c0bfbf;font-family: Arial,sans-serif;font-size: 13px;padding: 9px 0 0; text-align:center; padding-bottom:10px;}

/*--Footer end*/ 


/*Registration starts */

.regiLeft
	{
	width:320px;
	margin:10px 0px 10px 10px;
	
		}
	
.regiLeftUserPicsBox 
	{
	border:1px solid #d9d9d9;
	}	


.regiLeftUserPicsBox p
	{
	padding:10px;
	text-align:center;
	}

.commFrom_box	
	{
	float:left;
	width:595px;
	border:1px solid #d9d9d9;
	margin:10px 0px 10px 26px;
	}
	
	.commFrom_box table
	{
border-collapse:collapse;
font-size:12px;
font-variant:normal;
font-weight:normal;
	}

.commFrom_box table tr.TopRow
	{
	background:#0d0d0d;
	height:25px;
	font-size:13px;
	font-weight:bold;
	color:#fff;
		}


.commFrom_box table td
	{
text-align:right;
vertical-align:middle;
 	}
	
.commFrom_box table td.left
	{
text-align:left;
vertical-align:middle;
 	}
	
	
.commFrom_box table td.center
	{
text-align:center;
vertical-align:middle;
 	}	
	
.commFrom_box .frm_inp	
	{
	background-color:#f4f3f3;
	border:1px solid #c6c6c6;
	height:22px;
	width:410px;
	outline:none;
	
	}
	
.req
	{
	font-size:12px;
	color:#FF0000;
	}

.btn_submit
	{
	background:url(../adminimages/btn_submit.png) 0 0 no-repeat;
	width:67px;
	height:22px;
	border:none;
	cursor:pointer;
	display:block;
	}	
	
.btn_reset
	{
	background:url(../adminimages/btn_reset.png) 0 0 no-repeat;
	width:67px;
	height:22px;
	border:none;
	cursor:pointer;
	display:block;
	}		
		
/*Registration ends*/

/*itemPage*/
.itemLft
{
width:400px;
margin-left:10px;
}

.itemRight
	{
	width:530px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	}

.commBorderBox
{
border:1px solid #d9d9d9;
}


.marTop5
	{
	margin-top:5px;
	}

.marTop10
	{
	margin-top:10px;
	}

.marTop20
	{
	margin-top:20px;
	}
	
.padTop20
	{
	padding-top:20px;
	}		
	
.marLft10
	{
	margin-left:10px;
	}	
	

.marLft40
	{
	margin-left:40px;
	}

.marRlt10
	{
	margin-right:10px;
	}		

.marBot10
	{
	margin-top:10px;
	}
	
.marBot20
	{
	margin-bottom:20px;
	}		
	

.marBot40
	{
	margin-bottom:40px;
	}		
	
.mar10
	{
	margin:10px;
	}
	
marTop5
	{
	margin-top:5px;
	}	

.mar20
	{
	margin:20px;
	}
	
.auctionTitle_b
	{
	font-size:26px;
	font-weight:bold;
	text-decoration:none;
	margin-left:20px;
	margin-top:10px;
	color:#ff7e00;
	}
	
.tags, .watchList
	{
	margin-left:20px;
	margin-top:10px;
	}
	
.txt13B
	{
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	color:#000;
	}

.txt13B:hover
	{
	color:#FF6600;
	}	
	
.txt13PB
	{
	font-size:13px;
	font-weight:bold;
	text-decoration:none;
	color:#000;
	}	

.txt12B
	{
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#000;
	}	

.lnk12NU
	{
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;
	color:#000000;
	}

.auctionList
	{
	border-right:1px solid #d9d9d9;
	width:264px;
	}
	


.txt11pN
	{
	font-size:11px;
	font-weight:normal;
	color:#000;
	text-decoration:none;
	}
	
	.txt11pB
		{
	font-size:11px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
		}
	
.txt13pB
	{
	font-size:13px;
	font-weight:bold;
	}		

.txt13pB_or
	{
	font-size:13px;
	font-weight:bold;
	color:#ff6600;
	}

.txt11pB_or
	{
	font-size:11px;
	font-weight:bold;
	color:#ff6600;
	text-decoration:none;
	}	

	.txt16pB
	{
	font-size:16px;
	font-weight:bold;
	color:#000;
	}
	
.txtalignCenter
	{
	text-align:center;
	}
	
.txtalignLft
	{
	text-align:left;
	}
	
.txtalignRight
	{
	text-align:right;
	}			
	
.green28B
	{
	font-size:28px;
	color:#4abb38;
	font-weight:bold;
	}
	
.red22B
	{
	font-size:22px;
	color:#ff0000;
	font-weight:bold;
	}
	
	
	.biddingHistory
		{
	width:230px;
		}
		
.bidHistoryHeader

		{
		width:100%;
	background:#033e73;
	text-align:center;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	height:35px;
	line-height:35px;
			}
			
.biddingHistoryDetails table
	{
	border-collapse:collapse;
	}
	
	.biddingHistoryDetails table td
		{
		padding-top:5px;
		padding-bottom:5px;
		}
		
.biddingHistoryDetails table tr
		{
	border-bottom:1px solid #666;
		}		
		
.biddingHistoryDetails table tr.odd
		{
		background:#e1e3e4;
		}		


ul.pagination {
	float: left;
	padding:0;
	margin-left:10px;
    margin-top:10px;
		}

ul.pagination li {
float:left;
list-style: none;
margin: 0px;
padding: 0px;
margin-left:10px;
}

ul.pagination li.next_prev 
	{
background:#089cf0;
text-align:center;
font-size:12px;
padding-left:8px;
padding-right:8px;
	}

ul.pagination li.next_prev a:hover
	{
	color:#fff;
	}




ul.pagination li a {
	float: left;
	color: #000000;
	text-decoration: none;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
	line-height:25px;

}

ul.pagination li a.active_page 
	{
	color:#fff;
	background:#FF9900;
	padding-left:8px;
	padding-right:8px;
	}

ul.pagination li a.active_page:hover
	{
	color:#000;
	} 

ul.pagination li a:hover
	{
	color:#FF6600;
	}
	

.faq26w
	{
	font-size:26px;
	color:#fff;
	margin-bottom:10px;
	}

.num
	{
	width:20px;
	}
	
.w680
	{
	width:680px;
	}
	


	
	
	
	/*---new css 10-4-13 --*/
	
	
	
	
	.lft_menu_bg
	{
	background:#ececec; height:800px; border-left:1px solid #cececd; border-bottom:1px solid #cececd; border-right:1px solid #cececd; border-top:none;
	}

.lft_menu_wrapper
{
width:100%;
}

ul.left_mneu
	{
	padding:0;
	margin:0;
	list-style-type:none;
	}
	
ul.left_mneu li
	{
	background:url(../adminimages/nav_g.png) repeat-x;
	padding:0;
	margin:0;
	list-style-type:none;
	font-size:11px;
	font-weight:bold;
	border-bottom:1px dashed #bcbcbc;
	height:36px;
	/*margin-bottom:10px;
	margin-left:4px;
	margin-right:10px;*/
			}
	
	
		ul.left_mneu li a.active
		{
		display:block;
		color:#f9b107;
		text-decoration:none;
		background:url(../adminimages/nav_g_hover.png) repeat-x;
		height:36px;		
		}
	
	
	ul.left_mneu li a
	
		{ padding:11px;
		display:block;
		/*padding-top:8px;
		padding-bottom:8px;*/
		color:#666666;
		text-decoration:none;
		/*margin-bottom:8px;*/
		}
		
		ul.left_mneu li a:hover
		{
		display:block;
		/*padding-top:8px;
		padding-bottom:8px;*/
		color:#f9b107;
		text-decoration:none;
		background:url(../adminimages/nav_g_hover.png) repeat-x;
		/*margin-bottom:8px;*/
		
		}	


.log-in-wrapper{ width: 500px; height:300px; margin:0 auto; border:0px solid #FFFFFF; }

.log-in{ width:500px; height:216px; margin-left:240px; margin-bottom:0px; margin-top:15px;}

.log-in_box_top { background:url(../adminimages/boxTop.png) 0 0 no-repeat; width:496px; height:15px;}

.log-in_box_mid { background:#f1f1f1; border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8;}

.log-in_box_bot { background:url(../adminimages/boxBottom.png) 0 0 no-repeat; width:496px; height:15px;}

.logo{ width:500px; height:96px; float:left;}
.log-in-text{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:21px; color:#f6b402; padding-left:3px;}


.log-in_bttm{ background:url(../adminimages/log-in.png) no-repeat; width:77px; height:30px; border:none; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; cursor:pointer;}		
	.welcome_admin_text{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding-left:20px;}

.welcome_admin_input{ width:153px; height:22px; border:1px solid #af8b37; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000;}

.heading
	{
	font-size:13px;
	font-weight:bold;
	color:#000;
	padding-left:8px;
	}	

.admin_comm_table
		{
		font-size:12px;
		font-weight:normal;
		padding:8px;
		border-spacing:inherit;
		}

.admin_comm_table td
	{
	height:20px;
	line-height:20px;
	padding-left:5px;
	}

.admin_comm_table tr.admin_topRow
	{
	background:#262626;
	height:28px;
	line-height:28px;
	}
	
.admin_comm_table tr.admin_topRow td
	{
	vertical-align:middle;
	padding-left:5px;
	font-weight:bold;
	color:#fff;
	font-size:11px;
	}	
	
	
	
.admin_comm_table td.top
	{
	vertical-align:top;
	}
	
.admin_comm_table td.mid
	{
	vertical-align:middle;
	}
	
.admin_comm_table td.center
	{
	text-align:center;
	}	
	
.admin_comm_table .borderBot
	{
	border-bottom:1px solid #333;
	padding-top:5px;
	padding-bottom:5px;
		}
	

.comm_inp
	{
	 background:#ebeaea;
	 border:1px solid #8d8c8c;
	 height:25px;
	 line-height:25px;
	 padding-left:4px;
	}

.comm_txtArea			
	{
background:#ebeaea;
border:1px solid #8d8c8c;
	}	
	
.admin_greyRow
	{
	background:url(../adminimages/yellow_grd.png) 0 0 repeat-x;
	height:30px;
	line-height:30px;
	margin-bottom:10px;
	width:98%;
	border-top:1px solid #a9220c;
	border-bottom:1px solid #a9220c;
	}
	

.admin_grey_rounded
		{
	background:#ebeaea url(../adminimages/greyGrd.gif) 0 0 repeat-x;
	width:98%;
	border:1px solid #bebebe;
		}
	
	
	
.view_all_lnk
	{
	font-size:11px;
	padding-right:10px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
	}
	
.view_all_lnk:hover
	{
	text-decoration:underline;
	color:#fff;
	}		

.iconSet:hover
	{
opacity:.40; /* standard: ff gt 1.5, opera, safari */
-ms-filter: “alpha(opacity=40)”; /* ie 8 */
filter: alpha(opacity=40); /* ie lt 7 */
-khtml-opacity: .40; /* safari 1.x */
-moz-opacity: .40; /* ff lt 1.5, netscape */
	}		

.btn_edit
	{
	 background:url(../adminimages/btn_edit.png) 0 0 no-repeat;
	 width:52px;
	 height:22px;
	 cursor:pointer;
	 display:block;
	 border:none; 
	}			


.btn_send
	{
	 background:url(../adminimages/btn_send.png) 0 0 no-repeat;
	 width:58px;
	 height:22px;
	 cursor:pointer;
	 display:block;
	 border:none; 
	}	
	

.btn_delete_grd
	{
	 background:url(../adminimages/btn_delete_grd.png) 0 0 no-repeat;
	 width:66px;
	 height:22px;
	 cursor:pointer;
	 display:block;
	 border:none; 
	}		
	
	
.AdminsearchWrap		
{ 
float:left;
margin-left:10px;
margin-top:10px;
}

.AdminsearchInpWrap
	{
	background:url(../adminimages/admin_case_search_bg.png) 0 0 no-repeat;
	width:290px;
	height:40px;
	float:left;
	margin-right:10px;
	}

.AdminsearchsearchInp
{
border:0;
height:30px;
width:280px;
margin-left:8px;
margin-top:6px;
background:#fefefe url(../adminimages/admin_case_search_inp.png)  0 0 repeat-x;
font-size:13px;
font-weight:normal;
outline:none;
}


.admin_search
		{
	background:url(../adminimages/btn_faq_search.png) 0 0 no-repeat;
	width:47px;
	height:38px;
	cursor:pointer;
	border:none;
	float:right;
			}
.caseRow
	{
	border:1px solid #7e7e7e;
	background:#e3e3e3;
	}
	
ul.case_Details_plus
		{
	padding:0;
	margin:0;
	list-style-type:none;
	margin-top:10px;
		}
		
ul.case_Details_plus li
		{
	padding:0;
	margin:0;
	list-style-type:none;
	float:left;
	/*background:url(../adminimages/icon_plus.png) 0 0 no-repeat;*/
	margin-right:10px;
		}

ul.case_Details_plus li span
	{
	font-size:11px;
	padding-left:5px;
	line-height:12px;
	}
	
ul.case_Details_plus li.case_stat
	{
	background:#666666;
	font-size:11px;
	font-weight:bold;
	height:22px;
	line-height:22px;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	color:#fff;
	margin-right:0px;
	}

.white_box_case
	{
	border:1px dashed #999999;
	background:#FFFFFF;
	padding:10px;
	width:93%;
	}
	
	ul.comm_ul
	{
	padding:0;
	margin:0;
	list-style-type:none;
		}

ul.comm_ul li
	{
	float:left;
	padding:0;
	margin:0;
	list-style-type:none;
	margin-right:10px;
	font-size:11px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	background:url(../adminimages/blue_oval.png) left center no-repeat;
	}				

ul.comm_ul li a
	{
	font-size:11px; 
	color:#000;
	text-decoration:none;
	font-weight:normal;
	padding-left:25px;
	}		


.btn_send_msg
		{
	background:url(../adminimages/btn_send_msg.png) 0 0 no-repeat;
	width:114px;
	height:28px;
	cursor:pointer;
	border:none;
	display:block;
		}
		
.btn_cancel
		{
	background:url(../adminimages/btn_cancel.png) 0 0 no-repeat;
	width:114px;
	height:28px;
	cursor:pointer;
	border:none;
	display:block;
		}
		
.blackRow
		{
	background:#333333;
	line-height:25px;
	font-size:12px;
	font-weight:bold;
	color:#fff;
		}


	.roundBox_comm
	{
float:left;
background: #e1e0e0 !important;
border:1px solid #7f7f7f;
	}

.w428px
	{
	width:428px;
	}
	


.reports_oval
	{
	margin:0 auto;
	width:230px;
	background:#fdbb04 url(../adminimages/yellow_grd.png) 0 0 repeat-x;
	border:1px solid #c00000;
	}
	
	
.reports_oval h1
	{
	text-align:center;
	line-height:25px;
	padding-top:10px;
	padding-bottom:10px;
	color:#000;
	font-size:14px;
	font-weight:bold;
	}
.details_select{float:right;}	
.sel{width: 200px;
background: #f1f1f1;
margin-right: 4px;
border: 1px solid #cccccc; padding:6px;}