/*
 * SimpleModal Basic Modal Dialog
 * http://www.ericmmartin.com/projects/simplemodal/
 * http://code.google.com/p/simplemodal/
 *
 * Copyright (c) 2010 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 *
 * Revision: $Id: basic.css 257 2010-07-27 23:06:56Z emartin24 $
 */

#basic-customize-content {display:none;}
#basic-modal-content {display:none;}
#basic-campaign_group-content {display:none;}
#basic-view_all_links-content {display:none;}
#basic-create_invoice-content {display:none;}
#basic-apply_payment-content {display:none;}
#basic-invoice_settings-content {display:none;}
#basic-send_invoice-content {display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:pointer;}

/* Container */
#simplemodal-container {background-color:#FFF; border:4px solid #444;}
#simplemodal-container a.modalCloseImg {background:url(../images/x.png) no-repeat; width:25px; height:29px; display:inline;position:absolute; top:-15px; right:-16px; cursor:pointer;}
