@charset "utf-8";
/* CSS Document  color*/

body
{
background: url("../images/hmpsitebackground.gif") repeat-x scroll 0 0 #FFFFFF;
color:#000000;    
padding:0;
margin:0;
font-family:Helvetica, Arial, Verdana , sans-serif;


}

 div,span,p,form,h1,h2,h3,h4,h5,h6,fieldset,input,select 
	{
padding:0px;
margin:0px;
	}
	
.cls
	{	
clear:both;
	}

/* slightly enhanced, universal clearfix hack */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;

     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.wrapper_center
	{
	margin:0 auto;
	width:980px;
	}

.flt_right
	{
	float:right;
	}
	
	.flt_lft
	{
	float:left;
	}
	
	
.Row
{
float:left;
width:100%;
}

.topRow
	{
	float:right;
	width:450px;
	height:20px;
	}

.topRow h2
		{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#fff;
	text-decoration:none;
	margin-top:5px;
			}	

	.topRow .joinNow
		{
		font-family:Arial, Helvetica, sans-serif;
		font-size:28px;
		color:#fff600;
		text-decoration:underline;
		font-weight:bold;
		margin-top:1px;
		margin-left:10px;
		}	
		
.logoWrapper
	{
	float:left;
	padding-top:40px;
	}
	
.menuWrapper
	{
	float:left;
	width:500px;
	margin-top:20px;
	}
	

ul.menu {
	float: left;
	padding: 0px 0px;
	margin:0px 0px 0px 10px;
	}

ul.menu li {
	display: inline;
	list-style: none;
	margin: 0px;
	padding: 0px;
	float:left; 
	margin-left:4px;
}


ul.menu li a.highlight {
	float: left;
	color: #000000;
	text-decoration: none;
	background: url('../images/menu_L_act.png') top left no-repeat;
	padding: 0px 0px 0px 14px;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
	height:35px;
	line-height:35px;

}


ul.menu li a.highlight span {
	background: url('../images/menu_R1_act.png') top right no-repeat;
	padding: 0px 25px 0px 15px;
	display:inline-block;
	height:35px;
}


ul.menu li a {
	float: left;
	color: #000000;
	text-decoration: none;
	background: url('../images/menu_L_dis.png') top left no-repeat;
	padding: 0px 0px 0px 14px;
	font-size:13px;
	text-decoration:none;
	font-weight:bold;
	display:inline-block;
	height:35px;
	line-height:35px;

}


ul.menu li a span {
	background: url('../images/menu_R_dis.png') top right no-repeat;
	padding: 0px 14px 0px 0px;
	display:inline-block;
	height:35px;
}

ul.menu li a:hover
	{
	color:#FF6600;
	}
	
/*user Login*/

.userLogInwrapper
	{
	float:right;
	width:355px;
	margin-top:20px;
	margin-right:20px;
	}


.userLogInwrapper .userInpDiv
	{
	background:url(../images/uesr_inp_bg.png) 0 0 no-repeat; 
	width:137px; 
	height:28px; 
	float:left;
	margin-right:10px;
	}

.userLogInwrapper .inp
	{
border:none;
display:inline-block;
height:18px;
width:120px;
margin-left:8px;
margin-top:6px;
background:#f8f8f8 url(../images/inp_bg.png)  0 0 repeat-x;
font-size:13px;
font-weight:normal;
outline:none;
	}
	
.btn_go	
	{
	background:url(../images/btn_go.png) 0 0 no-repeat;
	width:57px;
	height:28px;
	cursor:pointer;
	border:none;
	margin-right:0px;
	}

/*Search  Arae*/	

.search_bg
	{
	background:url(../images/search_bg.png) 0 0 repeat-x;
	float:left;
	clear:both;
	height:60px;
		}


		
.searchWrap		
{ 
float:left;
margin-left:10px;
margin-top:10px;
}

.searchInpWrap
	{
	background:url(../images/search_inp.png) 0 0 no-repeat;
	width:886px;
	height:38px;
	float:left;
	margin-right:20px;
	}

.searchInp
{
border:0;
height:30px;
width:865px;
margin-left:8px;
margin-top:6px;
background:#f8f8f8 url(../images/search_inp_bg.png)  0 0 repeat-x;
font-size:13px;
font-weight:bold;
outline:none;
}

.btn_search
		{
	background:url(../images/btn_search.png) 0 0 no-repeat;
	width:47px;
	height:38px;
	cursor:pointer;
	border:none;
	float:right;
			}

.sliderWrap
{
float:left;
background:url(../images/sliderbg.jpg) 0 0 no-repeat;
width:980px;
height:332px;
}			


.liveAunctionWrap
	{
	margin-top:20px;
	}			
	
.liveAunctionWrap .top
{
background:url(../images/live_auction_bg.jpg) 0 0 no-repeat;
height:46px;
}

.liveAunctionWrap .top h2
	{
	font-size:18px;
	font-weight:bold;
	line-height:46px;
	margin-left:10px;
	}
	
.shortby
{
float:right;
margin-top:10px;
margin-right:10px;
}

.filter
	{
	float:right;
	margin-top:10px;
	margin-right:40px;
	}
	
	
	
	
.bid_now , .borderbox{ background:#FFFFFF; border-bottom:none; border-left:solid 1px #dcdcdc; border-right:solid 1px #dcdcdc; width:978px;}	


.pegination{ height:35px; margin-left:18px; margin-top:10px;}

.list{ margin-left:0px; clear:both;}



	
#main-product{ clear:both;  background:#FFFFFF; }

#main-product li{border: 0px solid #000000;
    float: left;
    height: 391px;
    list-style: none outside none;
    margin-right: 21px;
    width: 172px;}
#main-product li div{/*background:#b1d83e;*/   padding-top: 0px;}

#main-product li div .clip{ background:url(images/clip.png) no-repeat top left; width:35px; height:35px; position:absolute; padding:0px;margin: -41px 0 0 206px;}
#main-product li div .more{   background: url("images/more_bttn.png") no-repeat scroll left top transparent;display: block;height: 16px;padding: 8px 25px;width: 63px; color:#e1bba5; text-decoration:none; position:absolute; margin:7px 0 0 138px; font-size:11px;}
#main-product li div .more:hover{color:#FFF;}
#main-product li div h2{     font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#000000; text-align:center;}
#main-product li div h2 a{     font-family: 'CenturyGothic';font-size:21px; color:#445907; text-shadow: 0px 1px 0px #b2d93d; background:url(images/heading_bttmline.png) repeat-x bottom left; padding-bottom:5px; margin-bottom:10px;}
#main-product li div h2 a:hover{     font-family: 'CenturyGothic';font-size:21px; color:#445907; text-shadow: 0px 1px 0px #b2d93d; background:url(images/heading_bttmline.png) repeat-x bottom left; padding-bottom:5px; margin-bottom:10px;}



#main-product li div span{ display:block;border:0px solid #d2e88f; /*width:214px; height:71px;margin-bottom: 7px;*/}
/*#main-product li div p{     font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; text-align:justify; margin:15px; line-height:19px;}*/



 .auctions{ background:url(../images/auction_bg.png) no-repeat; width:181px; height:45px;}
  .auctions h3{ font-family:Verdana, Helvetica, Arial, sans-serif; font-size:18px; color:#000000; margin-left:37px;
    padding-top: 6px;
    text-align: justify; line-height:19px;padding-right: 10px; padding-left:20px;}
	 .auctions p{ font-family:Verdana, Helvetica, Arial, sans-serif; font-size:12px; color:#000000; margin-left:0px;
    padding-top: 0px;
    text-align:center; line-height:19px;padding-right: 10px;padding-left:20px;}
	.auctions h4{  color: #FFFFFF;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;
        padding-right: 10px;padding-left:20px;}
	
	.auctions h5{  color: #000000;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 19px;
    padding-bottom: 6px;
    padding-top: 6px;
    text-align: center;
        padding-right: 10px;padding-left:20px;}
	
	.price{ background:url(../images/auction_price_bg.png) no-repeat; width:184px; height:65px;}
	 

#clickFilter, #clickSort
	{
	cursor:pointer;
	}

#sort	 

{
position:absolute;
z-index:10px;
margin-top:1px;
width:250px;
height:135px;
background:#efefef;
border:1px solid #d3d2d2;
right:150px;
border-radius: 10px; 
-moz-border-radius:10px;
-webkit-border-radius:10px;
box-shadow: 2px 5px 10px #000000;
behavior: url(PIE.htc);
}	 
	 

#filter
{
position:absolute;
z-index:10px;
margin-top:1px;
width:400px;
height:235px;
background:#efefef;
border:1px solid #d3d2d2;
right:45px;
border-radius: 10px; 
-moz-border-radius:10px;
-webkit-border-radius:10px;
box-shadow: 2px 5px 10px #000000;
behavior: url(PIE.htc);
}

.SortDiv table, .filterDiv table
	{
	font-size:12px;
	color:#000;
	text-decoration:none;
	font-weight:normal;
	border-collapse:collapse;
	}	 
	 
	.SortDiv table td, .filterDiv table td
		{
		text-align:left;
		/*vertical-align:middle;*/
		} 
		
		.SortDiv table td.right, .filterDiv table td.right
		{
		text-align:right;
		/*vertical-align:middle;*/
		} 
		
		.SortDiv table td.bold, .filterDiv table td.bold
			{
			font-variant:normal;
			font-weight:bold;
			}
			
	 
	/*--Footer start*/

#footer{ background: url("../images/footer.png") repeat-x scroll left top transparent;

height:191px;/*margin-left: -20px; padding:36px 76px 0;text-align: center;width: 885px; margin:-24px auto;*/}

#sitemap{ clear:both;}

#sitemap li{ background: url("../images/divider.png") no-repeat scroll right top transparent;float: left;height:123px;margin-right: 16px;width: 198px; list-style:none;}

#sitemap li dt{ font-family:Tahoma, sans-serif; font-size:18px; color:#c0bfbf; clear:both; text-align:left;margin-bottom: 6px;}

#sitemap li dd{ display: block;font-family:Tahoma, sans-serif; font-size:12px; color:#c0bfbf; clear:both; text-align:left;margin-bottom:6px;}

#sitemap li dd a{font-size:12px;font-family:Arial, Helvetica, sans-serif; color:#c0bfbf; text-decoration:none; clear:both;  margin-left: -37px; }

#sitemap li dd a:hover{ color:#fab605; text-decoration:none;}



#footer p{ clear: both;color: #c0bfbf;font-family: Arial,sans-serif;font-size: 13px;padding: 9px 0 0; text-align:center;}

/*--Footer end*/ 


/*Registration starts */

.regiLeft
	{
	width:320px;
	margin:10px 0px 10px 10px;
	
		}
	
.regiLeftUserPicsBox 
	{
	border:1px solid #d9d9d9;
	}	


.regiLeftUserPicsBox p
	{
	padding:10px;
	text-align:center;
	}

.commFrom_box	
	{
	float:left;
	width:595px;
	border:1px solid #d9d9d9;
	margin:10px 0px 10px 26px;
	}
	
	.commFrom_box table
	{
border-collapse:collapse;
font-size:12px;
font-variant:normal;
font-weight:normal;
	}

.commFrom_box table tr.TopRow
	{
	background:#0d0d0d;
	height:25px;
	font-size:13px;
	font-weight:bold;
	color:#fff;
		}


.commFrom_box table td
	{
text-align:right;
vertical-align:middle;
 	}
	
.commFrom_box table td.left
	{
text-align:left;
vertical-align:middle;
 	}
	
	
.commFrom_box table td.center
	{
text-align:center;
vertical-align:middle;
 	}	
	
.commFrom_box .frm_inp	
	{
	background-color:#f4f3f3;
	border:1px solid #c6c6c6;
	height:22px;
	width:410px;
	outline:none;
	
	}
	
.req
	{
	font-size:12px;
	color:#FF0000;
	}

.btn_submit
	{
	background:url(../images/btn_submit.png) 0 0 no-repeat;
	width:67px;
	height:22px;
	border:none;
	cursor:pointer;
	display:block;
	}	
	
.btn_reset
	{
	background:url(../images/btn_reset.png) 0 0 no-repeat;
	width:67px;
	height:22px;
	border:none;
	cursor:pointer;
	display:block;
	}		
		
/*Registration ends*/

/*itemPage*/
.itemLft
{
width:400px;
margin-left:10px;
}

.itemRight
	{
	width:530px;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	}

.commBorderBox
{
border:1px solid #d9d9d9;
}


.marTop10
	{
	margin-top:10px;
	}

.marBot10
	{
	margin-top:10px;
	}	
	
.mar10
	{
	margin:10px;
	}
	
marTop5
	{
	margin-top:5px;
	}	

.mar20
	{
	margin:20px;
	}
	
.auctionTitle_b
	{
	font-size:26px;
	font-weight:bold;
	text-decoration:none;
	margin-left:20px;
	margin-top:10px;
	color:#ff7e00;
	}
	
.tags, .watchList
	{
	margin-left:20px;
	margin-top:10px;
	}
	
.txt13B
	{
	font-size:13px;
	font-weight:bold;
	}

.lnk12NU
	{
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;
	color:#000000;
	}

.auctionList
	{
	border-right:1px solid #d9d9d9;
	width:264px;
	}
	
.biddingHistory
	{
	width:264px;
	}

.txt11pN
	{
        font-family: Verdana;
	font-size:24px;
	font-weight:normal;
	color:#141414;
	}
	
.txtalignCenter
	{
	text-align:center;
	}
	
.txtalignLft
	{
	text-align:left;
	}
	
.txtalignRight
	{
	text-align:right;
	}			
	
.green28B
	{
	font-size:28px;
	color:#4abb38;
	font-weight:bold;
	}
	
.red22B
	{
	font-size:22px;
	color:#ff0000;
	font-weight:bold;
	}
	
.tableAuctionPrice
	{
	width:240px;
	margin-top:20px;
	margin-left:10px;
	margin-bottom:10px;
	}
					
.tableAuctionPrice table
	{
	border-collapse:collapse;
	}
	

.tableAuctionPrice table tr.div
	{
	border-bottom:1px solid #666;
	}


.tableAuctionPrice table td
	{
	vertical-align:middle;
	text-align:left;
	padding-top:6px;
	}

.tableAuctionPrice table td.right
	{
	text-align:right;
	}
	
	.tableAuctionPrice table td.center
	{
	text-align:center;
	}
	
/*Bidding History*/					
.bidHistoryHeader
		{
		width:100%;
	background:#033e73;
	text-align:center;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	border-top:1px solid #e4e4e4;
	border-bottom:1px solid #e4e4e4;
	height:35px;
	line-height:35px;
			}
			
.biddingHistoryDetails table
	{
	border-collapse:collapse;
	}
	
	.biddingHistoryDetails table td
		{
		padding-top:5px;
		padding-bottom:5px;
		}
		
.biddingHistoryDetails table tr
		{
	border-bottom:1px solid #666;
		}		
		
.biddingHistoryDetails table tr.odd
		{
		background:#e1e3e4;
		}
		

.divPayPal
	{
	position:absolute;
	width:250px;
	height:120px;
	z-index:10px;
	border:1px #666666 solid;
	padding:10px;
	line-height:18px;
	font-size:11px;
	color:#000;
	background:#FFCC00;
	text-align:left;
        
	/*right:25%;*/
		}	

#complexity{
	width: 412px;
	padding: 1px 0;
	height: 15px;
	color: #000;
	font-size: 12px;
	text-align: center;
}
		
.default{background-color: #CCC;}
.weak{background-color: #FF5353;}
.strong{background-color: #FAD054;}
.stronger{background-color: #93C9F4; }
.strongest{background-color: #B6FF6C;}				